<h1>Users</h1>
<% @users.each do |user|%>
	<%= user.name %>
<% end %>

<h1>Cats</h1>
<% @cats.each do |cat|%>
	<%= cat.name  %>
<% end %>

<h1>TODOS</h1>
<% @todos.each do |todo|%>
	<%= todo.name  %>
<% end %>
